[defaults]
inventory = inventory.ini
host_key_checking = True
retry_files_enabled = False
stdout_callback = default
gathering = smart
fact_caching = memory

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
